services:

  abi-llm-base:
    build:
      context: ./agents/abi-llm-base
    image: abi-llm-base
    ports:
      - 11434:11434
      - 8081:8001
    environment:
      - BASELLM_HOST=0.0.0.0
      - ABI_LLM_BASE=https://abi_llmbase:8000
      - ABI_ROLE=LLM Base
      - ABI_NODE=ABI Node
    volumes:
      - ollama-data:/root/.ollama
    networks:
      - abi-network

  mcp-server:
    build:
      context: .
      dockerfile: mcp/Dockerfile
    depends_on:
      - abi-llm-base
    ports:
      - "10100:10100"
    environment:
      AGENT_CARDS_BASE: "/app/mcp_server/agent_cards"
      MODEL: "models/embedding-001"
      SQLLITE_DB: "abi_context.db"
      ABI_ROLE: "MCP Server"
      ABI_NODE: "ABI Node"
    volumes:
      - ./mcp/mcp_server:/app/mcp_server:ro
    networks:
      - abi-network
    restart: unless-stopped

  orchestrator:
    build:
      context: ./agents/orchestrator
    depends_on:
      - abi-llm-base
    ports:
      - 11435:11434
      - 8082:8002
    environment:
      - ORCHESTRATOR_HOST=0.0.0.0
      - ORCHESTRATOR_BASE=https://abiorchestrator:8002
      - AGENT_CARD=./agent_cards/orchestrator_agent.json
      - ABI_ROLE=Orchestrator Agent
      - ABI_NODE=ABI AGENT
    volumes:
      - ollama-data:/root/.ollama
      - ./agents/orchestrator/agent:/agent
    networks:
      - abi-network
    restart: "unless-stopped"

  # auditor:
  #   build:
  #     context: ./agents/auditor
  #   depends_on:
  #     - orchestrator
  #   ports:
  #     - 11435:11435
  #   environment:
  #     - AUDITOR_HOST=0.0.0.0
  #     - AUDITOR_BASE=https://auditor:11435
  #    - ABI_ROLE=Auditor Agent
  #    - ABI_NODE=ABI AGENT
  #   volumes:
  #     - auditor/root/.app
  #   networks:
  #     - abi-network
  #   restart: "unless-stopped"

  # verifier:
  #   build:
  #     context: ./agents/verifier
  #   depends_on:
  #     - auditor
  #   ports:
  #     - 11437:11437
  #   environment:
  #     - VERIFIER_HOST=0.0.0.0
  #     - VERIFIER_BASE=https://verifier:11437
  #    - ABI_ROLE=Verifier Agent
  #    - ABI_NODE=ABI AGENT
  #   volumes:
  #     - verifier/root/.app
  #   networks:
  #     - abi-network
  #   restart: "unless-stopped"

  # observer:
  #   build:
  #     context: ./agents/worker-observer
  #   depends_on:
  #     - verifier
  #   ports:
  #     - 11439:11439
  #   environment:
  #     - OBSERVER_HOST=0.0.0.0
  #     - OBSERVER_BASE=https://observer:11439
  #    - ABI_ROLE=Observer Agent
  #    - ABI_NODE=ABI AGENT
  #   volumes:
  #     - worker-observer/root/.app
  #   networks:
  #     - abi-network
  #   restart: "unless-stopped"

  #actor:
  #   build:
  #     context: ./agents/worker-act
  #   depends_on:
  #     - orchestrator
  #   ports:
  #     - 11436:11434
  #     - 8082:8002
  #   environment:
  #     - ACTOR_HOST=0.0.0.0
  #     - ACTOR_BASE=https://actor:8002
  #     - ABI_ROLE=Actor Agent
  #     - ABI_NODE=ABI AGENT
  #   volumes:
  #     - worker-act/root/.app
  #     - ollama-data:/root/.ollama
  #     - ./agents/worker-act/agent:/agent
  #   networks:
  #     - abi-network
  #   restart: "unless-stopped"

  #model-loader:
  #  image: curlimages/curl:latest
  #  depends_on:
  #    - orchestrator
  #  volumes:
  #    - ./agents/abi-llm-base/model-loader.sh:/model-loader.sh
  #  entrypoint: ["sh", "/etc/profile.d/model-loader.sh"]
  #  networks:
  #    - abi-network

 # mcp-neo4j:
  #  image: mcp/server:neo4j-memory
  # ports:
  #    - "7687:7687"
  #    - "7474:7474"
  # networks:
  #   - abi-network

volumes:
  ollama-data:

networks:
  abi-network:
    driver: bridge
